/* Estilo general */
* {
    font-family: 'Lobster', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cuerpo */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

/* Fondo */
.background {
    background-image: url('./../assets/login/fondoLogin.png');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Contenido login */
#contenedor_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.85);
    border: 2px solid #03551f;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    z-index: 1; /* Contenedor por encima del fondo difuminado */
}

/* Logo y título */
.logo-bienvenida {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 50px;
}

.logo-bienvenida img {
    width: 100px;
    border-radius: 50%;
    margin-right: 10px;
}

.logo-bienvenida h1 {
    color: #05752a;
    font-size: 24px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* Campos */
label {
    font-size: 18px;
    color: #00050a;
}

.campos_login {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-color: #023d16;
    border-radius: 5px;
    font-size: 16px;
}

.comprobacionUsuario {
    height: 25px;
}

.comprobacionPasswd {
    height: 25px;
}

/* Links */
.registrate_aqui, .olvidar_contraseña, .hazte_vip, .acceder {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* Botón */
.acceder {
    padding-top: 20px;
    padding-bottom: 20px;
}

.acceder button {
    background-color: #05752a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.acceder button:hover {
    background-color: #03551f;
}

/* Línea separatoria */
hr {
    margin: 30px 0;
    border: 2px solid black;
}

/* Mensaje responsable */
.juego_responsable {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #023d16;
}

/* Modal centrado */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 2;
}

/* Contenido del modal */
.contenido-modal {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border: 2px solid #a8b8c4;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    max-height: 80vh;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
}

#mensajeModal {
    font-size: 18px;
    margin-bottom: 20px;
    color: #03551f;
}

/* Botón de cerrar */
.aceptar {
    background-color: #03551f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

/* Responsive para Tablets (769px a 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    #contenedor_login {
        width: 350px;
        padding: 25px;
    }

    .logo-bienvenida img {
        width: 90px;
    }

    .logo-bienvenida h1 {
        font-size: 22px;
    }

    label,
    .juego_responsable {
        font-size: 16px;
    }

    input {
        padding: 8px;
        font-size: 14px;
    }

    .acceder button {
        padding: 8px 15px;
        font-size: 16px;
        margin-bottom: -20px;
        margin-top: -20px;
    }

    hr {
        margin: 20px 0;
    }

    #mensajeModal {
        font-size: 16px;
    }

    .aceptar {
        padding: 8px 15px;
        font-size: 14px;
    }
}

/* Responsive para Móviles (hasta 768px) */
@media (max-width: 768px) {
    #contenedor_login {
        width: 300px;
        padding: 20px;
    }

    .logo-bienvenida img {
        width: 70px;
    }

    .logo-bienvenida h1 {
        font-size: 20px;
    }

    label,
    .juego_responsable {
        font-size: 16px;
    }

    input {
        padding: 8px;
        font-size: 14px;
    }

    .acceder button {
        padding: 8px 15px;
        font-size: 16px;
        margin-bottom: -20px;
        margin-top: -20px;
    }

    hr {
        margin: 20px 0;
    }

    #mensajeModal {
        font-size: 16px;
    }

    .aceptar {
        padding: 8px 15px;
        font-size: 14px;
    }
}