/* Estilo general */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Fondo */
body {
  position: relative;
  background: none;
  font-family: "Uncial Antiqua", sans-serif;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("/assets/prehistoricSlot/fondo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(10px);
  z-index: -1;
}

/* Header */
.contenido-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  height: auto;
  background-color: rgb(49, 49, 54);
  border-radius: 20px;
  padding: 30px;
  gap: 70px;
}

.logo-titulo {
  display: flex;
  align-items: center;
  gap: 25px;
}

.logo-titulo img {
  width: auto;
  height: 120px;
  border-radius: 50%;
}

.logo-titulo h1 {
  color: white;
  font-size: 40px;
  text-align: center;
  margin: 0;
}

.barra-separar {
  background-color: white;
  width: 5px;
  height: auto;
  border-radius: 100%;
}

.gestion-saldo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.botones-saldo {
  display: flex;
  gap: 40px;
}

.botones-saldo input {
  background: radial-gradient(circle, rgba(230, 204, 172, 0.95) 20%, rgba(170, 134, 104, 0.75) 85%);
  border-radius: 10px;
  height: 40px;
  width: 150px;
  padding: 0 15px;
  border: none;
  font-size: 15px;
  transition: all 0.3s ease;
}

.botones-saldo input:hover {
  background: radial-gradient(circle, rgba(230, 198, 150, 0.9) 20%, rgba(150, 110, 85, 0.8) 80%);
  color: #333;
  transform: scale(1.09);
  cursor: pointer;
}

.mensajes-saldo {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.mensajes-saldo p {
  color: blanchedalmond;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.reloj-ajustes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.reloj-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: radial-gradient(circle, rgba(230, 204, 172, 0.95) 20%, rgba(170, 134, 104, 0.75) 85%);
  border-radius: 8px;
  padding: 5px 15px;
}

#reloj {
  font-size: 25px;
  color: rgb(0, 0, 0);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.icono-ajustes {
  font-size: 40px;
  color: #f0f0f0;
  cursor: pointer;
  transition: transform 0.3s;
  margin-right: -80px;
}

.icono-ajustes:hover {
  transform: rotate(360deg);
  color: #ffcc99;
}

/* Modales del saldo */
.modal-meter-dinero, .modal-retirar-dinero, .modal-conversion-fichas, .modal-conversion-saldo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.contenido-modal {
  background-color: #2f2f2f;
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
  overflow-y: auto;
  color: #fff;
}

.contenido-modal p {
  margin-bottom: -10px;
  font-size: 18px;
  color: #ddd;
}

.comprobacion-meter-dinero, .comprobacion-retirar-dinero, .comprobacion-convertir-a-fichas, .comprobacion-convertir-a-dinero{
  width: 100%;
  height: 10px;
}

.contenido-modal input {
  padding: 12px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #c3a28b;
  width: 100%;
  background-color: #333;
  color: #fff;
}

.contenido-modal input {
  background: radial-gradient(circle, rgba(230, 204, 172, 0.95) 20%, rgba(170, 134, 104, 0.75) 85%);
  border: 1px solid #aaa;
  color: #000000;
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
}

.contenido-modal input:hover {
  background: radial-gradient(circle, rgba(230, 198, 150, 0.9) 20%, rgba(150, 110, 85, 0.8) 80%);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Modal de Ajustes */
.modal-ajustes {
  display: none; 
  position: absolute;
  top: 205px; 
  right: 10px;
  width: 330px;
  height: 600px;
  z-index: 10;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

.contenido-modal-ajustes {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  background-color: rgb(49, 49, 54);
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  gap: 25px;
}

.contenido-modal-ajustes p{
  color: white;
}

.contenedor-imagenes {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.contenido-modal-ajustes img {
  width: auto;
  height: 40px;
  margin: 10px;
  cursor: pointer;
}

.musica img{
  width: 50px;
  height: 50px;
}

/* Modo de color */
.switch {
  font-size: 14px;
  position: relative;
  display: inline-block;
  width: 3.9em;
  height: 2.7em;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 15px;
}

.slider {
  --background: #20262c;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: 0.5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #ececd9, -4px 1px 4px 0px #dadada;
  background: var(--background);
  transition: 0.5s;
}

input:checked + .slider {
  background-color: #5494de;
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #efdf2b, 0 0 10px 0px #efdf2b;
}

/* Contenedor del filtro blanco y negro */
#blancoYnegro {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;
  backdrop-filter: grayscale(100%);
  transition: backdrop-filter 0.3s ease, display 0.3s ease;
}

/* Modal información */
.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: auto;
  z-index: 1000;
}

/* Contenido del modal */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 1000px;
  text-align: center;
  max-height: 90%;
  overflow-y: auto; /* Permite scroll si es necesario */
}

/* Estilo de las combinaciones */
.combinacion {
  margin-bottom: 20px;
}

.combinacion h3 {
  color: #444;
}

.tabla-combinaciones {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  text-align: center;
}

.carril-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.carril-modal img {
  width: 60px;
  height: 60px;
}

.carril-modal img {
  transition: transform 0.2s ease;
}

.carril-modal img:hover {
  transform: scale(1.1);
}

/* Estilos generales */
h2, h3 {
  color: #333;
  font-family: 'Arial', sans-serif;
}

p {
  color: #555;
  font-size: 1.1rem;
  margin-top: 10px;
}

/* Estilo para el contenedor general */
.contenedor {
  display: flex;
  gap: 20px;
  padding: 20px 10px;
}

/* Premios */
.premios{
  margin: -50px 0 0 -50px;
}

.tragaperras {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  background: url('/assets/prehistoricSlot/tragaperras/papel_desgastado.png');
  background-position: center;
  padding: 30px;
  margin-left: 70px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9), inset 0 5px 10px rgba(0, 0, 0, 0.8);
  position: relative;
  border: 4px solid #404040;
}

/* Pantalla de la tragamonedas */
.pantalla-palanca {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  padding: 30px;
}

.pantalla {
  display: flex;
  justify-content: space-around;
  width: 650px;
  background: radial-gradient(circle, rgba(109, 89, 59, 0.9) 20%, rgba(150, 110, 85, 0.8) 80%);
  padding: 30px;
  border-radius: 12px;
  box-shadow: inset 0 6px 10px rgba(0, 0, 0, 0.9), 0 3px 6px rgba(0, 0, 0, 0.7);
  border: 3px solid #555555;
}

/* Carriles */
.carril {
  width: 120px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

/* Imágenes de los carriles */
.carril img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid #b59d7d;
  border-radius: 12px;
  background: radial-gradient(circle, rgba(230, 204, 172, 0.95) 20%, rgba(170, 134, 104, 0.75) 85%);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5), inset 0 -3px 5px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, background 0.3s ease;
}

/* Efecto de desgaste para imágenes */
.carril img:hover {
  transform: scale(1.1);
  background: radial-gradient(circle, rgba(230, 198, 150, 0.9) 20%, rgba(150, 110, 85, 0.8) 80%);
}

/* Palanca */
.palanca img {
  width: 120px;
  cursor: pointer;
}

/* Mensaje del premio */
.mensajePremio {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-top: 5px;
  text-align: center;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
  padding-bottom: 30px;
  height: 5px;
}

/* Animación de parpadeo */
@keyframes parpadeo {
  0%, 100% {
    border-color: #4caf50;
    box-shadow: 0 0 15px rgba(76, 175, 80, 0.8), inset 0 0 8px rgba(76, 175, 80, 0.8);
  }
  50% {
    border-color: #8bc34a;
    box-shadow: 0 0 20px rgba(139, 195, 74, 0.9), inset 0 0 10px rgba(139, 195, 74, 0.9);
  }
}

.recuadro-premio {
  animation: parpadeo 1s infinite;
  border: 2px solid green;
  border-radius: 5px;
}

/* Tablets: entre 769px y 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .header {
    gap: 30px;
  }

  .logo-titulo {
    flex-direction: column;
    gap: 5px;
  }

  .logo-titulo h1 {
    font-size: 16px;
  }

  .logo-titulo img {
    height: 100px;
  }

  .botones-saldo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }

  .mensajes-saldo p {
    font-size: 15px;
    text-align: center;
    margin-top: -20px;
  }

  .icono-ajustes {
    margin-right: -20px;
    margin-top: -10px;
  }

  .modal-ajustes {
    display: none;
    position: absolute;
    top: 140px;
    right: -5px;
    width: 210px;
    height: 60px;
    z-index: 10;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .contenido-modal-ajustes {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: transparent;
    padding: 15px;
    gap: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .contenido-modal-ajustes p {
    display: none;
  }
  
  .contenedor-imagenes {
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .contenido-modal-ajustes img {
    width: 25px;
    height: auto;
    margin: 10px;
    cursor: pointer;
  }
  
  .musica img {
    width: 25px;
    height: auto;
  }
  
  .switch {
    font-size: 9px;
    position: relative;
    display: inline-block;
    width: 3.9em;
    height: 2.7em;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  .slider {
    --background: #20262c;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: 0.5s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #ececd9, -4px 1px 4px 0px #dadada;
    background: var(--background);
    transition: 0.5s;
  }
  
  input:checked+.slider {
    background-color: #5494de;
  }
  
  input:checked+.slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #efdf2b, 0 0 10px 0px #efdf2b;
  }
  
  #blancoYnegro {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    pointer-events: none;
    backdrop-filter: grayscale(100%);
    transition: backdrop-filter 0.3s ease, display 0.3s ease;
  }

  .contenedor {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .premios {
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .tragaperras {
    margin-left: 0;
    width: 90%;
    max-height: 400px;
  }

  .palanca {
    position: relative;
    right: 0;
  }

  .carril {
    width: 100px;
    height: 250px;
  }

  .carril img {
    width: 80px;
    height: 80px;
  }

  .palanca img {
    width: 90px;
  }

  .mensajePremio {
    font-size: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Móviles: hasta 768px */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 30px;
  }

  .logo-titulo {
    flex-direction: column;
    gap: 5px;
  }

  .logo-titulo h1 {
    font-size: 20px;
  }

  .logo-titulo img {
    height: 100px;
  }

  .gestor-saldo,
  .botones-saldo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-top: -30px;
  }

  .mensajes-saldo p {
    font-size: 15px;
    text-align: center;
    margin-top: -20px;
  }

  .icono-ajustes {
    margin: 0 auto;
    margin-top: -50px;
    margin-bottom: 20px;
  }

  .reloj-container {
    display: none;
  }

  /* Modal ajustes */
  .modal-ajustes {
    display: none;
    position: absolute;
    top: 400px;
    left: 100px;
    width: 210px;
    height: 60px;
    z-index: 10;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .contenido-modal-ajustes {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: transparent;
    padding: 15px;
    gap: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .contenido-modal-ajustes p {
    display: none;
  }
  
  .contenedor-imagenes {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .contenido-modal-ajustes img {
    width: 25px;
    height: auto;
    margin: 10px;
    cursor: pointer;
  }
  
  .musica img {
    width: 25px;
    height: auto;
  }
  
  .switch {
    font-size: 9px;
    position: relative;
    display: inline-block;
    width: 3.9em;
    height: 2.7em;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  .slider {
    --background: #20262c;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: 0.5s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #ececd9, -4px 1px 4px 0px #dadada;
    background: var(--background);
    transition: 0.5s;
  }
  
  input:checked+.slider {
    background-color: #5494de;
  }
  
  input:checked+.slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #efdf2b, 0 0 10px 0px #efdf2b;
  }
  
  #blancoYnegro {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    pointer-events: none;
    backdrop-filter: grayscale(100%);
    transition: backdrop-filter 0.3s ease, display 0.3s ease;
  }

  .contenido {
    flex-direction: column-reverse;
    gap: 1px;
    margin-top: 5px;
  }

  .contenedor {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .premios {
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .tragaperras {
    margin-left: 0;
    width: 100%;
    max-height: 380px;
    padding: 15px;
  }

  .pantalla {
    width: 90%;
    max-width: 400px;
    padding: 15px;
  }

  .carril {
    width: 80px;
    height: 200px;
  }

  .carril img {
    width: 70px;
    height: 70px;
  }

  .palanca {
    position: relative;
    margin-left: 0;
  }

  .palanca img {
    width: 80px;
  }

  .mensajePremio {
    font-size: 18px;
    height: 25px; /* Ajuste de altura para evitar desplazamientos */
    display: flex;
    align-items: center;
    justify-content: center;
  }
}