<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./assets/moneda.png" type="image/x-icon">
    <title>CRASH</title>
    <link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/cavemanRun.css">
    <script src="https://unpkg.com/i18next@latest/i18next.min.js"></script>
</head>

<body>

    <!-- HEADER -->
    <div class="contenido-header">
        <div class="header">
            
            <!-- LOGO Y TÍTULO -->
            <div class="logo-titulo">
                <a th:href="@{lobby}">
                    <img src="./assets/cavemanRun/logo2.png" alt="Logo">
                </a>
                <h1>CAVEMAN RUN</h1>
            </div>

            <div class="barra-separar"></div>

            <!-- GESTIÓN DE SALDO -->
            <div class="gestion-saldo">
                
                <!-- BOTONES PARA GESTIONAR SALDO -->
                <div class="botones-saldo">
                    <input type="button" name="boton-ingresar-dinero" id="boton-ingresar-dinero" value="Meter dinero" data-i18n="meterDinero">
                    <input type="button" name="boton-retirar-dinero" id="boton-retirar-dinero" value="Sacar dinero" data-i18n="sacarDinero">
                    <input type="button" name="boton-convertir-a-fichas" id="boton-convertir-a-fichas" value="Convertir a fichas" data-i18n="convertirFichas">
                    <input type="button" name="boton-convertir-a-dinero" id="boton-convertir-a-dinero" value="Convertir a dinero" data-i18n="convertirDinero">
                </div>

                <!-- MENSAJES DE SALDO ACTUAL -->
                <div class="mensajes-saldo">
                    <p id="dinero-actual" class="dinero-actual" data-i18n="dineroActual">DINERO: 0€</p>
                    <p id="fichas-actuales" class="fichas-actuales" data-i18n="fichasActuales">FICHAS: 0🎫</p>
                </div>
            </div>

            <div class="barra-separar"></div>

            <!-- RELOJ Y AJUSTES -->
            <div class="reloj-ajustes">
                <div class="reloj-container">
                    <div id="reloj"></div>
                </div>
                
                <!-- ICONO DE AJUSTES -->
                <span class="icono-ajustes" onclick="modalAjustes()">⚙</span>
            </div>
        </div>
    </div>

    <div class="contenido">

        <!-- CONTENEDOR DE ANALÍTICAS -->
        <div class="analiticas">
            <div class="estadisticas-menu">
                <button class="tab-button active" data-target="estadistica1">Historial de Tiradas</button>
                <button class="tab-button" data-target="estadistica2">Mejores Jugadas</button>
            </div>
            
            <div class="estadisticas-contenido">
                
                <!-- HISTORIAL DE TIRADAS -->
                <div class="estadistica-section active" id="estadistica1">
                    <p class="parrafo-seccion1">Historial de tiradas:</p>
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Jugador</th>
                                <th>Apuesta</th>
                                <th>Multiplicador</th>
                                <th>Premio</th>
                            </tr>
                        </thead>
                        <tbody id="historial-tiradas">
                            <!-- RELLENADO DINÁMICAMENTE -->
                        </tbody>
                    </table>
                </div>
                
                <!-- MEJORES JUGADAS -->
                <div class="estadistica-section" id="estadistica2">
                    <p class="parrafo-seccion2">Mejores jugadas (solo ganancias):</p>
                    <table>
                        <thead>
                            <tr>
                                <th>Jugador</th>
                                <th>Ganancia</th>
                            </tr>
                        </thead>
                        <tbody id="mejores-jugadas">
                            <!-- RELLENADO DINÁMICAMENTE -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- CONTENEDOR DEL JUEGO -->
        <div class="juego">

            <video muted loop>
                <source src="./videos/fondoAnimado.mp4" type="video/mp4" class="videoFondo">
                Your browser does not support the video tag.
            </video>
            
            <div class="controles-juego">
                
                <!-- BOTONES DE APUESTA AL PRINCIPIO -->
                <div class="botones-apuesta">
                    
                    <!-- ENTRADA DE APUESTA -->
                    <div class="input-apuesta">
                        <button class="btn-ajustar" id="btn-menos">-</button>
                        <input type="number" id="apuesta" value="0" min="0">
                        <button class="btn-ajustar" id="btn-mas">+</button>
                    </div>

                    <!-- APUESTA RÁPIDA -->
                    <div class="apuesta-rapida">
                        <input type="button" class="btn-apuesta-rapida" value="1">
                        <input type="button" class="btn-apuesta-rapida" value="10">
                        <input type="button" class="btn-apuesta-rapida" value="50">
                        <input type="button" class="btn-apuesta-rapida" value="100">
                    </div>
                </div>

                <!-- BOTONES CORRER Y PARAR (UNO ENCIMA DEL OTRO) -->
                <div class="botones-accion">
                    <input type="button" id="btn-correr" class="btn-correr" value="Correr">
                    <br>
                    <input type="button" id="btn-parar" class="btn-parar" value="Parar">
                </div>
            </div>
        </div>
    </div>

    <!-- FILTRO BLANCO Y NEGRO -->
    <div id="blancoYnegro" class="filtro-blanco-negro"></div>

    <!-- MODAL DE AJUSTES -->
    <div class="modal-ajustes" id="modal-ajustes">
        <div class="contenido-modal-ajustes">
            
            <!-- IDIOMA -->
            <p data-i18n="idioma">Idioma</p>
            <div class="contenedor-imagenes">
                <img id="icono-idioma" src="./assets/ajustes/español.png" onclick="traducir()" />
            </div>
            
            <!-- VOLUMEN -->
            <p data-i18n="volumenPrincipal">Volumen principal</p>
            <div class="musica" id="control-volumen">
                <img id="icono-volumen" src="./assets/ajustes/volumen.png" alt="Icono de volumen">
            </div>
            
            <!-- MODO BLANCO Y NEGRO -->
            <p data-i18n="blancoYNegro">Modo de color</p>
            <label for="switch" class="switch">
                <input id="switch" type="checkbox" checked />
                <span class="slider"></span>
            </label>

            <!-- BOTÓN DE INFORMACIÓN -->
            <div class="info-button">
                <p>Info</p>
                <img id="infoBtn" src="./assets/ajustes/informacion.png" alt="Información">
            </div>
        </div>
    </div>

    <!-- MODAL PARA METER DINERO -->
    <div class="modal-meter-dinero" id="modal-meter-dinero">
        <div class="contenido-modal">
            <p id="parrafo-introducir-dinero" data-i18n="introducirDineroLabel">Introduce dinero que quieres ingresar</p>
            <div id="comprobacion-meter-dinero" class="comprobacion-meter-dinero"></div>
            <input type="number" id="input-introducir-dinero" name="input-introducir-dinero">
            <input type="button" id="boton-meter-dinero-modal" value="Aceptar" data-i18n="aceptar">
            <input type="button" id="boton-cerrar-meter-dinero-modal" value="Cerrar" data-i18n="cerrarModal">
        </div>
    </div>

    <!-- MODAL PARA RETIRAR DINERO -->
    <div class="modal-retirar-dinero" id="modal-retirar-dinero">
        <div class="contenido-modal">
            <p id="parrafo-retirar-dinero" data-i18n="introducirDineroLabel">Introduce dinero que quieres retirar</p>
            <div id="comprobacion-retirar-dinero" class="comprobacion-retirar-dinero"></div>
            <input type="number" id="input-retirar-dinero" name="input-retirar-dinero">
            <input type="button" id="boton-retirar-dinero-modal" value="Aceptar" data-i18n="aceptar">
            <input type="button" id="boton-cerrar-retirar-dinero-modal" value="Cerrar" data-i18n="cerrarModal">
        </div>
    </div>

    <!-- MODAL PARA CONVERSIÓN A FICHAS -->
    <div class="modal-conversion-fichas" id="modal-conversion-fichas">
        <div class="contenido-modal">
            <p data-i18n="convertirFichas">Convertir dinero a fichas</p>
            <div id="comprobacion-convertir-a-fichas" class="comprobacion-convertir-a-fichas"></div>
            <input type="number" id="input-cantidad-conversion-fichas" name="cantidadConversionFichas">
            <input type="button" id="boton-convertir-fichas" value="Aceptar" data-i18n="aceptar">
            <input type="button" id="boton-cerrar-conversion-fichas" value="Cerrar" data-i18n="cerrarModal">
        </div>
    </div>

    <!-- MODAL PARA CONVERSIÓN A SALDO -->
    <div class="modal-conversion-saldo" id="modal-conversion-saldo">
        <div class="contenido-modal">
            <p data-i18n="convertirDinero">Convertir fichas en dinero</p>
            <div id="comprobacion-convertir-a-dinero" class="comprobacion-convertir-a-dinero"></div>
            <input type="number" id="input-cantidad-conversion-saldo" name="cantidadConversionSaldo">
            <input type="button" id="boton-convertir-saldo" value="Aceptar" data-i18n="aceptar">
            <input type="button" id="boton-cerrar-conversion-saldo" value="Cerrar" data-i18n="cerrarModal">
        </div>
    </div>

    <!-- MODAL INFORMACIÓN -->
    <div id="infoModal" class="modal">
        <div class="modal-content">
            <h1>Manual de Caveman Run</h1>
        </div>
    </div>

    <script src="./js/cavemanRun.js"></script>
</body>

</html>