<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./assets/moneda.png" type="image/x-icon">
    <title>CRASH</title>
    <link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/cavemanRun.css">
    <script src="https://unpkg.com/i18next@latest/i18next.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>

    <!-- HEADER -->
    <div class="contenido-header">
        <div class="header">
            
            <!-- LOGO Y TÍTULO -->
            <div class="logo-titulo">
                <a th:href="@{lobby}">
                    <img src="./assets/cavemanRun/logo2.png" alt="Logo">
                </a>
                <h1>CAVEMAN RUN</h1>
            </div>

            <div class="barra-separar"></div>

            <!-- GESTIÓN DE SALDO -->
            <div class="gestion-saldo">
                
                <!-- BOTONES PARA GESTIONAR SALDO -->
                <div class="botones-saldo">
                    <input type="button" name="boton-ingresar-dinero" id="boton-ingresar-dinero" value="Meter dinero" data-i18n="meterDinero">
                    <input type="button" name="boton-retirar-dinero" id="boton-retirar-dinero" value="Sacar dinero" data-i18n="sacarDinero">
                    <input type="button" name="boton-convertir-a-fichas" id="boton-convertir-a-fichas" value="Convertir a fichas" data-i18n="convertirFichas">
                    <input type="button" name="boton-convertir-a-dinero" id="boton-convertir-a-dinero" value="Convertir a dinero" data-i18n="convertirDinero">
                </div>

                <!-- MENSAJES DE SALDO ACTUAL -->
                <div class="mensajes-saldo">
                    <p id="dinero-actual" class="dinero-actual" data-i18n="dineroActual">DINERO: 0€</p>
                    <p id="fichas-actuales" class="fichas-actuales" data-i18n="fichasActuales">FICHAS: 0🎫</p>
                </div>
            </div>

            <div class="barra-separar"></div>

            <!-- RELOJ Y AJUSTES -->
            <div class="reloj-ajustes">
                <div class="reloj-container">
                    <div id="reloj"></div>
                </div>
                
                <!-- ICONO DE AJUSTES -->
                <span class="icono-ajustes" onclick="modalAjustes()">⚙</span>
            </div>
        </div>
    </div>

    <div class="contenido">

        <!-- CONTENEDOR DE ANALÍTICAS -->
        <div class="analiticas">
            <div class="estadisticas-menu">
                <button class="tab-button active" data-target="estadistica1">Historial de Tiradas</button>
                <button class="tab-button" data-target="estadistica2">Mejores Jugadas</button>
            </div>
            
            <div class="estadisticas-contenido">
                
                <!-- HISTORIAL DE TIRADAS -->
                <div class="estadistica-section active" id="estadistica1">
                    <p class="parrafo-seccion1">Historial de tiradas:</p>
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Jugador</th>
                                <th>Apuesta</th>
                                <th>Multi</th>
                                <th>Premio</th>
                            </tr>
                        </thead>
                        <tbody id="historial-tiradas">
                            <!-- RELLENADO DINÁMICAMENTE -->
                        </tbody>
                    </table>
                </div>
                
                <!-- MEJORES JUGADAS -->
                <div class="estadistica-section" id="estadistica2">
                    <p class="parrafo-seccion2">Mejores jugadas:</p>
                    <table>
                        <thead>
                            <tr>
                                <th>Jugador</th>
                                <th>Ganancia</th>
                            </tr>
                        </thead>
                        <tbody id="mejores-jugadas">
                            <!-- RELLENADO DINÁMICAMENTE -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- CONTENEDOR DEL JUEGO -->
        <div class="juego">
            <video loop class="videoFondo">
                <source src="./videos/fondoAnimado2.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <h1 id="multiplicador" class="multiplicador">X1</h1>                   
            <img src="./assets/cavemanRun/cavernicola-parado.png" class="cavernicolaCorriendo">
            <img src="./assets/cavemanRun/mamut.png" class="mamut">
            <div class="controles-juego">
                <!-- BOTONES DE APUESTA AL PRINCIPIO -->
                <div class="botones-apuesta">
                    <!-- ENTRADA DE APUESTA -->
                    <div class="input-apuesta">
                        <button class="btn-ajustar" id="btn-menos">-</button>
                        <input type="number" id="apuesta" value="0" min="0">
                        <button class="btn-ajustar" id="btn-mas">+</button>
                    </div>
                    <!-- APUESTA RÁPIDA -->
                    <div class="apuesta-rapida">
                        <input type="button" class="btn-apuesta-rapida" value="1">
                        <input type="button" class="btn-apuesta-rapida" value="10">
                        <input type="button" class="btn-apuesta-rapida" value="50">
                        <input type="button" class="btn-apuesta-rapida" value="100">
                    </div>
                </div>
                <!-- BOTONES CORRER Y PARAR (UNO ENCIMA DEL OTRO) -->
                <div class="botones-accion">
                    <input type="button" id="btn-correr" class="btn-correr" value="Run">
                </div>
            </div>
        </div>        
    </div>

    <!-- FILTRO BLANCO Y NEGRO -->
    <div id="blancoYnegro" class="filtro-blanco-negro"></div>

    <!-- MODAL DE AJUSTES -->
    <div class="modal-ajustes" id="modal-ajustes">
        <div class="contenido-modal-ajustes">
            
            <!-- IDIOMA -->
            <p data-i18n="idioma">Idioma</p>
            <div class="contenedor-imagenes">
                <img id="icono-idioma" src="./assets/ajustes/español.png" onclick="traducir()" />
            </div>
            
            <!-- VOLUMEN -->
            <p data-i18n="volumenPrincipal">Volumen principal</p>
            <div class="musica" id="control-volumen">
                <img id="icono-volumen" src="./assets/ajustes/volumen.png" alt="Icono de volumen">
            </div>
            
            <!-- MODO BLANCO Y NEGRO -->
            <p data-i18n="blancoYNegro">Modo de color</p>
            <label for="switch" class="switch">
                <input id="switch" type="checkbox" checked />
                <span class="slider"></span>
            </label>

            <!-- BOTÓN DE INFORMACIÓN -->
            <div class="info-button">
                <p>Info</p>
                <img id="infoBtn" src="./assets/ajustes/informacion.png" alt="Información">
            </div>
        </div>
    </div>

    <!-- MODAL PARA METER DINERO -->
    <div class="modal-meter-dinero" id="modal-meter-dinero">
        <div class="contenido-modal">
            <p id="parrafo-introducir-dinero" data-i18n="introducirDineroLabel">Introduce dinero que quieres ingresar</p>
            <div id="comprobacion-meter-dinero" class="comprobacion-meter-dinero"></div>
            <input type="number" id="input-introducir-dinero" name="input-introducir-dinero">
            <input type="button" id="boton-meter-dinero-modal" value="Aceptar" data-i18n="aceptar">
            <input type="button" id="boton-cerrar-meter-dinero-modal" value="Cerrar" data-i18n="cerrarModal">
        </div>
    </div>

    <!-- MODAL PARA RETIRAR DINERO -->
    <div class="modal-retirar-dinero" id="modal-retirar-dinero">
        <div class="contenido-modal">
            <p id="parrafo-retirar-dinero" data-i18n="introducirDineroLabel">Introduce dinero que quieres retirar</p>
            <div id="comprobacion-retirar-dinero" class="comprobacion-retirar-dinero"></div>
            <input type="number" id="input-retirar-dinero" name="input-retirar-dinero">
            <input type="button" id="boton-retirar-dinero-modal" value="Aceptar" data-i18n="aceptar">
            <input type="button" id="boton-cerrar-retirar-dinero-modal" value="Cerrar" data-i18n="cerrarModal">
        </div>
    </div>

    <!-- MODAL PARA CONVERSIÓN A FICHAS -->
    <div class="modal-conversion-fichas" id="modal-conversion-fichas">
        <div class="contenido-modal">
            <p data-i18n="convertirFichas">Convertir dinero a fichas</p>
            <div id="comprobacion-convertir-a-fichas" class="comprobacion-convertir-a-fichas"></div>
            <input type="number" id="input-cantidad-conversion-fichas" name="cantidadConversionFichas">
            <input type="button" id="boton-convertir-fichas" value="Aceptar" data-i18n="aceptar">
            <input type="button" id="boton-cerrar-conversion-fichas" value="Cerrar" data-i18n="cerrarModal">
        </div>
    </div>

    <!-- MODAL PARA CONVERSIÓN A SALDO -->
    <div class="modal-conversion-saldo" id="modal-conversion-saldo">
        <div class="contenido-modal">
            <p data-i18n="convertirDinero">Convertir fichas en dinero</p>
            <div id="comprobacion-convertir-a-dinero" class="comprobacion-convertir-a-dinero"></div>
            <input type="number" id="input-cantidad-conversion-saldo" name="cantidadConversionSaldo">
            <input type="button" id="boton-convertir-saldo" value="Aceptar" data-i18n="aceptar">
            <input type="button" id="boton-cerrar-conversion-saldo" value="Cerrar" data-i18n="cerrarModal">
        </div>
    </div>

    <!-- MODAL INFORMACIÓN -->
    <div id="infoModal" class="modal">
        <div class="modal-content">
        <h1>Manual de Caveman Run</h1>
        <p><strong>Bienvenido a Caveman Run</strong>, un juego ambientado en la época del Paleolítico, donde controlas a un intrépido cavernícola que corre a través de un paisaje prehistórico lleno de obstáculos y peligros.</p>
        
        <h2>Objetivo del juego:</h2>
        <p>El objetivo de Caveman Run es correr lo más lejos posible sin chocar con los obstáculos. A medida que corres, el multiplicador de tu apuesta aumenta, lo que puede generar grandes recompensas si llegas lo más lejos posible.</p>
        
        <h2>¿Cómo jugar?</h2>
        <ul>
            <li><strong>Controles:</strong> Usa el botón "Run" para comenzar a correr. El cavernícola se moverá automáticamente, y tendrás que estar atento a los obstáculos para evitar chocar.</li>
            <li><strong>Obstáculos:</strong> Durante el juego, aparecerán mamuts, árboles caídos y otros obstáculos de la época. Tienes que saltarlos o esquivarlos.</li>
            <li><strong>Apuestas:</strong> Antes de cada tirada, puedes hacer una apuesta usando el campo de apuesta. Cuanto mayor sea la apuesta, mayor será el multiplicador que ganarás si llegas más lejos.</li>
        </ul>
        
        <h2>Multiplicadores:</h2>
        <p>El multiplicador aumenta a medida que avanzas. El multiplicador te otorgará una ganancia dependiendo de lo lejos que llegues y la cantidad apostada. ¡Llega lo más lejos posible para maximizar tus ganancias!</p>
        
        <h2>Recompensas:</h2>
        <p>Cada vez que completes una carrera con éxito, recibirás una recompensa en fichas o dinero, dependiendo de cómo hayas gestionado tus apuestas.</p>
        
        <h2>Consejos:</h2>
        <ul>
            <li>Realiza apuestas inteligentes: Apuesta según tu saldo disponible y el riesgo que estés dispuesto a tomar.</li>
            <li>Evita los obstáculos: Los mamuts y otros obstáculos son peligrosos y te harán perder la tirada si los golpeas.</li>
            <li>Haz uso de las conversiones de fichas y dinero para maximizar tus ganancias.</li>
        </ul>
        
        <h2>¡Diviértete y corre lo más lejos posible!</h2>
        <p>¡Buena suerte en tu aventura prehistórica! Que el cavernícola esté de tu lado y consigas grandes premios.</p>
        </div>
    </div>

    <!-- MODAL GENERAL -->
    <div id="Modal" class="modal">
        <div class="contenido-modal">
            <h1></h1>
        </div>
    </div>

    <script src="./js/cavemanRun.js"></script>
</body>

</html>