<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Cargar valor oculto -->
    <input type="hidden" th:value="${esVip}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CASINO</title>
    <link rel="icon" href="/assets/moneda.png" type="image/icon type">
    <!-- Carga el CSS en funcion del valor oculto -->
    <link rel="stylesheet" th:if="${esVip}" href="/css/lobby_vip.css" />
    <link rel="stylesheet" th:unless="${esVip}" href="/css/lobby_normal.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lobster&display=swap" rel="stylesheet">
  </head>
  <body>

    <!-- Verificamos si el usuario es VIP o no -->
    <div th:if="${esVip}" th:insert="~{fragments/lobby_HeaderVip :: lobbyHeader}"></div>
    <div th:unless="${esVip}" th:insert="~{fragments/lobby_HeaderNormal :: lobbyHeader}"></div>


    <!-- Principal -->
    <div th:if="${esVip}" th:insert="~{fragments/lobby_CarruselVip :: lobbyCarrusel}"></div>
    <div th:unless="${esVip}" th:insert="~{fragments/lobby_CarruselNormal :: lobbyCarrusel}"></div>

    <!-- Footer -->
    <div th:if="${esVip}" th:insert="~{fragments/lobby_FooterVip :: lobbyFooter}"></div>
    <div th:unless="${esVip}" th:insert="~{fragments/lobby_FooterNormal :: lobbyFooter}"></div>

    <!-- Scripts Vercel Web Analytics -->
    <script> window.va = window.va || function () {
      (window.vaq = window.vaq || []).push(arguments);};
    </script>
    <script defer src="/_vercel/insights/script.js"></script>
    <script src="/js/lobby.js"></script>
  </body>
</html>